* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-title {
  font-family: 'Bungee', cursive;
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

.feedback {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
}


/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

